policy_module(jfkbitcoin1776, 1.100.1)

########################################
#
# Declarations
#

type jfkbitcoin1776_t;
type jfkbitcoin1776_exec_t;
init_daemon_domain(jfkbitcoin1776_t, jfkbitcoin1776_exec_t)

permissive jfkbitcoin1776_t;

type jfkbitcoin1776_initrc_exec_t;
init_script_file(jfkbitcoin1776_initrc_exec_t)

type jfkbitcoin1776_conf_t;
files_type(jfkbitcoin1776_conf_t)

type jfkbitcoin1776_var_lib_t;
files_type(jfkbitcoin1776_var_lib_t)

type jfkbitcoin1776_var_run_t;
files_type(jfkbitcoin1776_var_run_t)

type jfkbitcoin1776_port_t;
corenet_port(jfkbitcoin1776_port_t)

########################################
#
# jfkbitcoin1776 local policy
#
allow jfkbitcoin1776_t self:process { fork };

allow jfkbitcoin1776_t self:fifo_file rw_fifo_file_perms;
allow jfkbitcoin1776_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(jfkbitcoin1776_t, jfkbitcoin1776_conf_t, jfkbitcoin1776_conf_t)
manage_files_pattern(jfkbitcoin1776_t, jfkbitcoin1776_conf_t, jfkbitcoin1776_conf_t)

manage_dirs_pattern(jfkbitcoin1776_t, jfkbitcoin1776_var_lib_t, jfkbitcoin1776_var_lib_t)
manage_files_pattern(jfkbitcoin1776_t, jfkbitcoin1776_var_lib_t, jfkbitcoin1776_var_lib_t)
files_var_lib_filetrans(jfkbitcoin1776_t, jfkbitcoin1776_var_lib_t, { dir file })

manage_dirs_pattern(jfkbitcoin1776_t, jfkbitcoin1776_var_run_t, jfkbitcoin1776_var_run_t)
manage_files_pattern(jfkbitcoin1776_t, jfkbitcoin1776_var_run_t, jfkbitcoin1776_var_run_t)

sysnet_dns_name_resolve(jfkbitcoin1776_t)
corenet_all_recvfrom_unlabeled(jfkbitcoin1776_t)

allow jfkbitcoin1776_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(jfkbitcoin1776_t)
corenet_tcp_sendrecv_generic_node(jfkbitcoin1776_t)
corenet_tcp_sendrecv_all_ports(jfkbitcoin1776_t)
corenet_tcp_bind_generic_node(jfkbitcoin1776_t)

gen_require(`
    type jfkbitcoin1776_port_t;
')
allow jfkbitcoin1776_t jfkbitcoin1776_port_t:tcp_socket name_bind;

gen_require(`
    type jfkbitcoin1776_port_t;
')
allow jfkbitcoin1776_t jfkbitcoin1776_port_t:tcp_socket name_connect;

domain_use_interactive_fds(jfkbitcoin1776_t)

files_read_etc_files(jfkbitcoin1776_t)

miscfiles_read_localization(jfkbitcoin1776_t)

sysnet_dns_name_resolve(jfkbitcoin1776_t)

allow jfkbitcoin1776_t jfkbitcoin1776_exec_t:file execute_no_trans;
allow jfkbitcoin1776_t self:process setsched;
corecmd_exec_ls(jfkbitcoin1776_t)
corenet_tcp_connect_http_port(jfkbitcoin1776_t)
dev_read_urand(jfkbitcoin1776_t)
fs_getattr_xattr_fs(jfkbitcoin1776_t)
kernel_read_system_state(jfkbitcoin1776_t)
