
## <summary>policy for jfkbitcoin1776</summary>


########################################
## <summary>
##	Transition to jfkbitcoin1776.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`jfkbitcoin1776_domtrans',`
	gen_require(`
		type jfkbitcoin1776_t, jfkbitcoin1776_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, jfkbitcoin1776_exec_t, jfkbitcoin1776_t)
')


########################################
## <summary>
##	Execute jfkbitcoin1776 server in the jfkbitcoin1776 domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jfkbitcoin1776_initrc_domtrans',`
	gen_require(`
		type jfkbitcoin1776_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, jfkbitcoin1776_initrc_exec_t)
')


########################################
## <summary>
##	Search jfkbitcoin1776 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jfkbitcoin1776_search_lib',`
	gen_require(`
		type jfkbitcoin1776_var_lib_t;
	')

	allow $1 jfkbitcoin1776_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read jfkbitcoin1776 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jfkbitcoin1776_read_lib_files',`
	gen_require(`
		type jfkbitcoin1776_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, jfkbitcoin1776_var_lib_t, jfkbitcoin1776_var_lib_t)
')

########################################
## <summary>
##	Manage jfkbitcoin1776 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jfkbitcoin1776_manage_lib_files',`
	gen_require(`
		type jfkbitcoin1776_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, jfkbitcoin1776_var_lib_t, jfkbitcoin1776_var_lib_t)
')

########################################
## <summary>
##	Manage jfkbitcoin1776 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jfkbitcoin1776_manage_lib_dirs',`
	gen_require(`
		type jfkbitcoin1776_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, jfkbitcoin1776_var_lib_t, jfkbitcoin1776_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a jfkbitcoin1776 environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`jfkbitcoin1776_admin',`
	gen_require(`
		type jfkbitcoin1776_t;
		type jfkbitcoin1776_initrc_exec_t;
		type jfkbitcoin1776_var_lib_t;
	')

	allow $1 jfkbitcoin1776_t:process { ptrace signal_perms };
	ps_process_pattern($1, jfkbitcoin1776_t)

	jfkbitcoin1776_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 jfkbitcoin1776_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, jfkbitcoin1776_var_lib_t)

')

